@charset "utf-8";

/* icon
---------------------------------- */
.icon::after,
.overdue.product-info::after {
    background: url(../imgs/icon.png) no-repeat;
    -webkit-background-size: 100px auto;
    -ms-background-size: 100px auto;
    background-size: 100px auto;
}

.icon {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    overflow: hidden;
}

.icon-zhifu,
.icon-remen,
.icon-ticheng,
.icon-tuijian,
.icon-danbao,
.icon-jiangli {
    width: 15px;
    height: 15px;
}

.icon-danbao {
    width: 56px;
}

.icon-zhifu::after,
.icon-remen::after,
.icon-ticheng::after,
.icon-tuijian::after,
.icon-danbao::after,
.icon-jiangli::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background-position: 0 0;
}

.icon-remen::after {
    background-position: -20px 0;
}

.icon-ticheng::after {
    background-position: -40px 0;
}

.icon-tuijian::after {
    background-position: -60px 0;
}

.icon-jiangli::after {
    background-position: -80px 0;
}

.icon-danbao::after {
    width: 56px;
    background-position: 0 -20px;
}

.icon-location-sm,
.icon-date-sm {
    width: 10px;
    height: 10px;
}

.icon-location-sm::after,
.icon-date-sm::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-position: -80px -20px;
}

.icon-date-sm::after {
    background-position: -90px -20px;
}

/* filter
---------------------------------- */
.mod-filter {
    position: static;
    position: -webkit-sticky;
    position: sticky;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100%;
}

.mod-filter.active {
    position: fixed;
}

.filter-nav .com-border-bottom {
    padding-bottom: 1px;
}

.filter-nav .mod-list-item:not(:last-child) {
    position: relative;
    margin-right: 1px;
}

.filter-nav .mod-list-item:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 1px;
    height: 32px;
    background-color: #e5e5e5;
    -webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scale3d(0.5, 1, 1);
    -ms-transform: scale3d(0.5, 1, 1);
    transform: scale3d(0.5, 1, 1);
    margin-top: -16px;
}

.filter-nav .mod-list-info {
    position: relative;
    line-height: 44px;
    text-align: center;
}

.filter-nav .mod-list-info::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -4px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #ccc;
    border-right: 8px solid transparent;
    margin-left: 10px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: transform .15s ease;
    transition: transform .15s ease;
}

.filter-nav .active .mod-list-info::after {
    top: 1px;
    border-bottom: 8px solid #fc0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
}

.filter-cont {
    display: none;
}

.filter-menu .com-border-bottom:not(:last-child)::after {
    left: 12px;
}

.filter-menu .mod-list-info {
    line-height: 20px;
    padding: 12px 36px 12px 12px;
}

.filter-menu .active .mod-list-info {
    position: relative;
}

.filter-menu .active .mod-list-info::before,
.filter-menu .active .mod-list-info::after {
    content: "";
    position: absolute;
    top: 23px;
    right: 19px;
    width: 6px;
    height: 2px;
    background-color: #fc0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.filter-menu .active .mod-list-info::after {
    top: 21px;
    right: 11px;
    width: 12px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filter-body .filter-menu .mod-list-info {
    padding-right: 12px;
}

.filter-body .filter-menu .active.com-border-bottom::after {
    left: 0;
}

.filter-body .filter-menu .active .mod-list-info {
    background-color: #faf8ee;
}

.filter-body .filter-menu .active .mod-list-info::before,
.filter-body .filter-menu .active .mod-list-info::after {
    display: none;
}

/* product
---------------------------------- */
.recommend .mod-column-head {
    display: none;
}

.product-info {
    padding: 12px;
    overflow: hidden;
}

.product-info.touch {
    background-color: #f5f5f5;
}

.product-image {
    margin: 4px 12px 4px 0;
    overflow: hidden;
}

.product-image img {
    display: block;
    width: 60px;
    height: 60px;
    max-width: 60px;
    border-radius: 3px;
}

.product-content {
    overflow: hidden;
}

.product-title {
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    margin: 1px 0;
    overflow: hidden;
}

.product-title span {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.product-title .icon {
    float: right;
    margin-top: 4.5px;
}

.product-title .icon:not(.icon-danbao) {
    margin-left: 4px;
}

.product-meta {
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
}

.product-meta:not(:last-child) {
    margin: 1px 0 2px;
}

.product-meta span.fl {
    margin-right: 10px;
}

.product-meta .icon {
    float: left;
    margin-top: 5px;
    margin-right: 4px;
}

.product-meta .icon-danbao {
    float: right;
    margin-top: 0;
    margin-right: 0;
}

.product-meta b {
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin-right: 4px;
    margin-top: -0.5px;
}

.product-meta .line::after {
    content: "";
    float: left;
    width: 1px;
    height: 8px;
    background-color: #808080;
    margin-top: 6px;
    margin-right: 8px;
}

.overdue.product-info {
    position: relative;
}

.overdue.product-info::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-position: 0 -85px;
}

.overdue.product-info,
.overdue .product-meta .fc-gray,
.overdue .product-meta .fc-red {
    color: #999;
}

.overdue .product-image img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.overdue .product-meta .line::after {
    background-color: #999;
}

.overdue .product-title .icon,
.overdue .product-meta .icon-danbao {
    display: none;
}

@media only screen and (max-width:375px) {
    .filter-nav .mod-list-info {
        font-size: 12px;
    }

}